* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    align-items: center;
    height: 100vh;
    background-color: #16F547;
}

h1{
    text-align: center;
    font-size: 70px ;
}


.content{
    display: flex;
      justify-content: center;
    
}

.form-container {
    background-color: #0ACABD;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    background-color: #95F516;
}

label {
    margin-bottom: 15px;
    font-weight: bold;
}

.name-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.name-field input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select-option {
    margin-bottom: 20px;
}

.select-option input {
    margin-right: 8px;
}

.signature-section {
    margin-bottom: 20px;
}

.signature-canvas {
    border: 1px solid #ccc;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

.submit-button {
    width: 100%;
}
.flex-container {
    display: flex;
    align-items: flex-start; /* Align items at the top */
      justify-content: space-between; /* Space between the form and image */
    width: 80%; /* Adjust as needed */
}
.right-image {
    width: 1000px; /* Adjust image size as needed */
    height:auto;%; /* Maintain aspect ratio */
    margin-left: 20px; /* Space between the form and the image */
}

.slideshow-container {
            max-width: 900px;
            position: relative;
            margin: auto;
        }

        /* Hide the images by default */
        .mySlides {
            display: none;
        }

        /* Image styles */
        .slideshow-container img {
            width: 100%;
            border-radius: 15px;
        }

        /* Fading animation */
        .fade {
            animation: fadeEffect 1.5s;
        }

        @keyframes fadeEffect {
            from { opacity: 0.4; } 
            to { opacity: 1; }